.btn {
  margin: 20px;
  padding: 10px 20px;
  text-transform: capitalize;  
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  background-color: white;
  border: 2px solid steelblue;
  color: steelblue;
}

.btn:hover {
  background-color: rgb(127, 179, 223);
  border: 2px solid steelblue;
  color: white;
}

.primary{
  background-color: steelblue;
  border: 2px solid steelblue;
  color: white;
}

.primary:hover{
  background-color: rgb(98, 153, 197);
  border: 2px solid steelblue;
  color: white;
}

.dashed {
  background-color: white;
  border: 2px dashed steelblue;
  color: steelblue;
}

.dashed:hover {
  background-color: rgb(127, 179, 223);
  border: 2px solid steelblue;
  color: white;
}

.text {
  background-color: white;
  border: none;
  color: black;
}

.text:hover {
  background-color: white;
  border: none;
  color: steelblue;
}

.link {
  background-color: white;
  border: none;
  color: steelblue;
}

.link:hover {
  background-color: white;
  border: none;
  color: rgb(7, 90, 158);
}